@page "/cdlitools"
@rendermode InteractiveServer

@inject CdliService CdliService;
@inject HttpClient http;
@inject AlignerData data;

<PageTitle>CDLI Tools</PageTitle>

<h1>CDLI Tools</h1>

<p>@(CdliService.GetType())</p>

<p>@(CdliService.DownloadsDirectory)</p>
<p>@(CdliService.UnblockedAtfUrl)</p>

<button class="btn btn-primary" @onclick="GetPublications">Get Publications</button>
<button class="btn btn-primary" @onclick="UpdateDataPublications">Update Data Publications</button>
<button class="btn btn-primary" @onclick="GetAtf">Get ATF</button>

<p>
    <progress value="@progressValue" max="@progressMax"></progress>
    @progressValue / @progressMax
</p>

@* <p><pre>@atf[..Math.Min(atf.Length, 40000)]</pre></p> *@

<h2>Area Names</h2>
<p>
    @foreach (var ta in publications.SelectMany(x => x.TextAreas.Select(y => (y, x))).GroupBy(x => x.Item1.Name)) {
        <span>
            @if (expandedAreas.Contains(ta.Key)) {
                <button class="btn btn-primary" @onclick="() => expandedAreas.Remove(ta.Key)">@ta.Key -</button>
                <ul>
                    @foreach (var p in ta) {
                        <pre>@p.x.RawAtf</pre>
                    }
                </ul>
            }
            else {
                <button class="btn" @onclick="() => expandedAreas.Add(ta.Key)">@ta.Key +</button>
            }
        </span>
    }
</p>

<p>@error</p>

@code {
    private string atf = "";
    private Exception? error;
    AtfPublication[] publications = [];
    List<string> expandedAreas = [];
    List<string> expandedPubs = [];
    async Task GetAtf() {
        try {
            atf = await CdliService.GetUnblockedAtfAsync(http);
            this.StateHasChanged();
            error = null;
        }
        catch (Exception e) {
            error = e;
        }
    }
    async Task GetPublications() {
        try {
            publications = await CdliService.GetPublicationsAsync(http);
            error = null;
            this.StateHasChanged();
        }
        catch (Exception e) {
            error = e;
            this.StateHasChanged();
        }
    }
    private int progressValue = 0;
    private int progressMax = 0;
    async Task UpdateDataPublications() {
        try {
            progressMax = publications.Length;
            progressValue = 0;
            foreach (var p in publications) {
                if (await data.PublicationExists(p.Id)) {
                    continue;
                }
                progressValue++;
                if (progressValue % 1000 == 0) {
                    this.StateHasChanged();
                }
            }
            error = null;
            this.StateHasChanged();
        }
        catch (Exception e) {
            error = e;
            this.StateHasChanged();
        }
    }
}
